.navbar {
    background-color: #e54c4c !important;

    background-image: none !important;
    padding-top: 10px;
    padding-bottom: 10px;
}




.navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;

    font-family: Arial, sans-serif;
}


.navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 1.1rem;

    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #f0f0f0 !important;

    text-decoration: none;
}


.navbar-brand,
.navbar-nav .nav-link {

    line-height: 1.2;
}


.navbar-brand span {
    font-size: 1.5em;
    vertical-align: middle;
}